{% extends "base.html" %}
{% load static %}

{% block 'body' %}
<header class="bg-slate-900">
  <nav class="flex items-center justify-between p-4 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-8 w-auto" src="{% static 'logo.png' %}" alt="">
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#" class="text-sm font-semibold text-gray-100">Mentorados</a>
      <a href="#" class="text-sm font-semibold text-gray-100">Tarefas</a>
      <a href="#" class="text-sm font-semibold text-gray-100">Progressos</a>
      <a href="#" class="text-sm font-semibold text-gray-100">Navigators</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <!-- Botões ou links adicionais -->
    </div>
  </nav>
</header>

<div class="bg-[#040e1b] min-h-screen">
  <div class="max-w-7xl mx-auto py-12">
    <div class="grid grid-cols-2 gap-4">
      <div>
        <form action="{% url 'mentorados' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <h2 class="mt-4 text-2xl font-bold tracking-tight text-gray-100">Cadastre seus mentorados</h2>

          {% if messages %}
            {% for message in messages %}
              <div class="rounded-md {{ message.tags }} mt-4">
                <div class="flex">
                  <div class="ml-3 py-4">{{ message }}</div>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          <div class="mt-4">
            <label class="block text-sm font-medium text-gray-200">Nome</label>
            <input type="text" name="nome" required class="mt-2 block w-full rounded-md bg-white/5 px-3 py-1.5 text-white placeholder:text-gray-500 focus:outline-indigo-500 sm:text-sm" />
          </div>

          <div class="grid grid-cols-2 gap-4 mt-4">
            <div>
              <label class="block text-sm font-medium text-gray-200">Foto</label>
              <input type="file" name="foto" required class="mt-2 block w-full rounded-md bg-white/5 px-3 py-1.5 text-white placeholder:text-gray-500 focus:outline-indigo-500 sm:text-sm" />
            </div>
            <div>
              <label class="block text-sm font-medium text-gray-200">Estágio</label>
              <select name="estagio" class="mt-2 block w-full rounded-md bg-white/5 px-3 py-2 text-white focus:outline-indigo-500 sm:text-sm">
                {% for estagio in estagios %}
                  <option class="text-slate-900" value="{{ estagio.0 }}">{{ estagio.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="mt-4">
            <label class="block text-sm font-medium text-gray-200">Navigator</label>
            <select name="navigator" class="mt-2 block w-full rounded-md bg-white/5 px-3 py-2 text-white focus:outline-indigo-500 sm:text-sm">
              {% for navigator in navigators %}
                <option value="{{ navigator.id }}">{{ navigator.nome }}</option>
              {% endfor %}
            </select>
          </div>

          <button type="submit" class="mt-6 w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white hover:bg-indigo-500">Cadastrar</button>
        </form>
      </div>

      <div class="flex justify-center items-center w-1/2 mx-auto">
        <canvas id="myChart" class="w-24 h-24"></canvas>
      </div>
    </div>

    <div class="mt-6">
      <hr class="border-gray-600" />
      <h2 class="mt-6 text-base font-semibold text-white">Seus mentorados</h2>

      <table class="mt-6 w-full text-left">
        <thead class="border-b border-white/10 text-sm text-white">
          <tr>
            <th class="py-2 pl-4 pr-8 font-semibold">Usuário</th>
            <th class="hidden py-2 pl-0 pr-8 font-semibold sm:table-cell">Estágio</th>
            <th class="py-2 pl-0 pr-4 text-right font-semibold sm:pr-8 sm:text-left">Status</th>
            <th class="hidden py-2 pl-0 pr-8 font-semibold md:table-cell">Data entrada</th>
            <th class="hidden py-2 pl-0 pr-8 font-semibold md:table-cell">Navigator</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-white/5">
          {% for mentorado in mentorados %}
            <tr>
              <td class="py-4 pl-4 pr-8">
                <div class="flex items-center gap-x-4">
                  {% if mentorado.foto %}
                    <img src="{{ mentorado.foto.url }}" class="size-8 rounded-full bg-gray-800" alt="">
                  {% else %}
                    <div class="size-8 rounded-full bg-gray-600 flex items-center justify-center text-white text-xs">?</div>
                  {% endif %}
                  <div class="truncate text-sm font-medium text-white">
                    <a href="{% url 'tarefa' mentorado.id %}">{{ mentorado.nome }}</a>
                  </div>
                </div>
              </td>
              <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
                <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-white/10">
                  {{ mentorado.get_estagio_display }}
                </div>
              </td>
              <td class="py-4 pl-0 pr-4 text-sm sm:pr-8">
                <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                  <div class="rounded-full bg-green-400/10 p-1 text-green-400">
                    <div class="size-1.5 rounded-full bg-current"></div>
                  </div>
                  <div class="hidden text-white sm:block">Ativo</div>
                </div>
              </td>
              <td class="hidden py-4 pl-0 pr-8 text-sm text-gray-400 md:table-cell">{{ mentorado.criado_em }}</td>
              <td class="hidden py-4 pl-0 pr-8 text-sm text-gray-400 md:table-cell">{{ mentorado.navigator.nome }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');
  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: {{ estagios_flat|safe }},
      datasets: [{
        label: '',
        data: {{ qtd_estagios|safe }},
        borderWidth: 1
      }]
    },
    options: {
      plugins: {
        legend: {
          labels: {
            color: 'white'
          }
        }
      }
    }
  });
</script>
{% endblock 'body' %}
